[Unit]
Description=PCP Recorder

[Service]
Type=notify
WorkingDirectory=/usr/local/src/PCPrecord
ExecStart=/usr/local/src/PCPrecord/PCPrecord_actions.sh

[Install]
WantedBy=multi-user.target
